.main {
  height: 500px;
  width: 80%;
  border: 1px solid black;
  margin: auto;
  display: flex;
}
.light-point {
  height: 90px;
  width: 28%;
  border-top: 8px solid rgb(241, 233, 233);
  /* border-left: 1px solid black; */
  /* border-right: 1px solid black; */
  margin: 50px 0 0 49%;
  background-color: bisque;
  border-radius: 7px 7px 0 0;
}
.pin {
  height: 10px;
  width: 100px;
  /* border: 1px solid black; */
  margin-left: -13px;
  border-radius: 4px 4px 4px 4px;
  background-color: rgb(157, 158, 159);
}
.glass-point {
  height: 300px;
  width: 200px;
  /* border: 1px solid black; */
  border-radius: 50%;
  margin: -11px 0px 0 70px;
  /* background-color: red; */
  background-color: aliceblue;
}
.light-conection {
  height: 100px;
  width: 20px;
  /* border: 1px solid black; */
  margin: auto;
  border-radius: -19px 0px 8px 8px;
  background-color: rgb(89, 85, 86);
}
.light-conection-2 {
  height: 100px;
  width: 10px;
  /* border: 1px solid black; */
  margin-left: 4.8px;
  background-color: bisque;
}
/* .light {
  height: 30px;
  width: 90px;
  border: 1px solid black;
  margin: 180px 0px 0px -32px;
  border-radius: 50%;
  background-color: rgb(157, 158, 159);
} */
button {
  margin-left: 70px;
}
.full-light-on {
  margin: 0 0 0 35%;
  height: 40px;
  width: 200px;
}
.full-light-of {
  height: 40px;
  width: 200px;
}
