.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 6px 2px 6px;
  background-color: bisque;
}
.logo-section,
.input-section,
.icon-section {
  /* border: 1px solid black; */
}
.logo-section {
  display: flex;
  align-items: center;
  padding-left: 20px;
  /* justify-content: space-around; */
  /* width: 13%; */
}
.input-section {
  width: 30%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  /* padding: 2px; */
}
.icon-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10%;
  /* border: 1px solid black; */
}
