.offerCard {
  display: flex;
  justify-content: center;
  gap: 66px;
  flex-wrap: wrap;
}
.main {
  height: 220vh;
  width: 90%;
  /* border: 1px solid black; */
  margin: auto;
  background-color: white;
}
body {
  background-color: rgb(241, 242, 244);
}
